<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FIREBASE_ANALYTICS_COLLECTION_DEACTIVATE</key>
	<false/>
	<key>CLIENT_ID</key>
	<string>591209724255-gcc8324sci0fagehrpk627aj2f607ai8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591209724255-gcc8324sci0fagehrpk627aj2f607ai8</string>
	<key>API_KEY</key>
	<string>AIzaSyDLVuqmUIKLvX-XChqbYhpURzupxgnL40c</string>
	<key>GCM_SENDER_ID</key>
	<string>591209724255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.firstapp</string>
	<key>PROJECT_ID</key>
	<string>firstapp-3e783</string>
	<key>STORAGE_BUCKET</key>
	<string>firstapp-3e783.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:591209724255:ios:99609d8005799be4491eea</string>
	<key>DATABASE_URL</key>
	<string>https://firstapp-3e783.firebaseio.com</string>
</dict>
</plist>
